@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.navbar {
  background-color: #43AA8B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  height: 4rem;
}

.nav-link {
  color: white !important;
}