@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.navbar {
  background-color: #43AA8B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  height: 4rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-link {
  font-size: 1.2rem;
  color: white !important;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.85rem !important;
}

.modal {
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background-color: #43AA8B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.footer h5 {
  font-weight: 600;
}

.btn-social-icon {
  color: white !important;
}

.copyright {
  background-color: #43AA8B;
  margin-top: 1rem;
  font-weight: 400;
}